{% extends 'layouts/base_layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <div class="blog-post border-bottom pb-4">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="mt-5">{{ post.content|raw }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% include 'partials/flash.html.twig' %}
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <form method="POST" action="{{ route('postsComments@add', {post_id: post.id}) }}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form-email">Adresse email</label>
                                    <input type="email" id="form-email" name="form-email" class="form-control" placeholder="Adresse email">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form-name">Nom</label>
                                    <input type="text" id="form-name" name="form-name" class="form-control" placeholder="Pseudonyme">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="form-content">Commentaire</label>
                                <textarea rows="4" name="form-content" id="form-content" class="form-control" placeholder="Commentaire"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="submit" class="btn btn-secondary mt-3">Valider</button>
                            <p class="fst-italic small text-secondary mt-2">Votre commentaire fera l'objet d'un examen avant sa publication</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}