{% extends 'layouts/base_layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <div class="blog-post border-bottom pb-4">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="mt-5">{{ post.content|raw }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form method="POST" action="#">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form-email">Adresse email</label>
                            <input type="email" id="form-email" name="form-email" class="form-control" placeholder="Adresse email">
                        </div>
                        <div class="form-group mt-3">
                            <label for="form-pseudo">Pseudonyme</label>
                            <input type="text" id="form-pseudo" name="form-pseudo" class="form-control" placeholder="Pseudonyme">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="commentContent">Commentaire</label>
                        <textarea rows="4" name="commentContent" id="commentContent" class="form-control" placeholder="Commentaire"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-secondary mt-3">Valider</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}