{% extends 'layouts/base_layout.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center mt-5 pt-5 flex-column" id="main">
            <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center ">Erreur serveur</h1>
            <h4 class="font-weight-normal mt-2">Oops, une erreur critique est survenue.</h4>
        </div>
    </div>
{% endblock %}